# Hidden files
.*
!/.gitignore


test/test
build-*
#obsolete
obsolete/
#output folders
**/CMakeCache.txt
CMakeFiles/
output/
Debug/
Release/
build/
**/*.save
**/*.save.*
**/*.avi*
**/*.bak
**/*.sav
**/*.user
**/*.user*
**/*.cmake
**/car-log.txt
**/Makefile
bin/car-service

#recordings
tracks/

#temporary files
*~

# Object files
*.o
*.ko
*.obj
*.elf

#python compiled
*.pyc

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
