<!doctype html>
<html ng-app="car" ng-controller="carController">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
  <h1>Anaranjado!</h1>
  <form>
    select a track:
    <select name='2' ng-model="selected_track" id="2" ng-options="track.name for track in tracks"></select>
    select a route: <select name='1' ng-model="selected_route" id="1" ng-options="route.name for route in routes"></select>
  </form>
  <button ng-click="go()">Go!{{go_error}}</button>
    <h2> Selected track: {{selected_track.name}}!</h2>
    <h2> Selected route: {{selected_route.name}}!</h2>
    <h3> Car Status: </h3>
    <div ng-repeat="(key,value) in car_status">{{key}} = {{value}}</div>
    <table>
    <tr><td>secs</td><td>x</td><td>y</td></tr>
    <tr ng-repeat="path_node in route_path">
        <td>{{path_node.secs}}</td>
        <td>{{path_node.secs}}</td>
        <td>{{path_node.secs}}</td>
    </tr>
    </table>
</body>
<script>
var app = angular.module("car", []);
app.controller("carController", function($scope, $http, $timeout) {
  $scope.run = function() {
    alert('run clicked')
  }
  $scope.selected_track = null;
  $scope.selected_route = null;

  $scope.go = function() {
    go_error = ""
    $http.put('/command/go',"1").success(function() {
      console.log('go success');
    }).error(function(response,code) {
      $scope.go_error = "  ("+code+")"+response.message;
    })
    console.log("go clicked");
  }

  $scope.$watch("selected_track", function(newValue, oldValue) {
    if ($scope.selected_track !== null && $scope.selected_track.name.length > 0) {
      console.log("selected track:",$scope.selected_track)
      $http.get('/tracks/'+$scope.selected_track.name+"/routes").
        success(function(routes, status, headers, config) {
          $scope.routes = routes;
        }).error(function(data, status, headers, config) {
          $scope.route_names = ['n/a'];
        // log error
      });
    }
  });

  $scope.$watch("selected_route", function(newValue, oldValue) {
    if ($scope.selected_route !== null && $scope.selected_route.name.length > 0) {
      $http.get('/tracks/'+$scope.selected_track.name+"/routes/"+$scope.selected_route.name+"/path").
        success(function(route_path, status, headers, config) {
          $scope.route_path = route_path;
        }).error(function(data, status, headers, config) {
          $scope.route_names = ['n/a'];
        // log error
      });
    }
  });


  $http.get('/tracks').
    success(function(tracks, status, headers, config) {
      $scope.tracks = tracks;
      $scope.route_names = ['data'];
    }).
    error(function(data, status, headers, config) {
      // log error
    });
  var poller = function() {
    $http.get('/car/get_state').
      success(function(data, status, headers, config) {
        $scope.car_status = data;
      }).
      error(function(data, status, headers, config) {
        // log error
      });
      $timeout(poller,100);
    };
    poller();


});    
</script>    

</html>
